/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: flex; /* Usar flexbox para alinear elementos */
    align-items: center; /* Centrar verticalmente */
    background-color: #4CAF50; /* Color del encabezado */
    color: white;
    padding: 10px 20px; /* Espaciado superior e inferior */
}

.logo {
    margin-right: 50px; /* Espacio entre el logo y el título */
}

.logo img {
    width: 150px; /* Ajusta el tamaño del logo */
}

.titulo-navegacion {
    flex-grow: 1; /* Permite que el título ocupe espacio disponible */
}

h1 {
    margin: 0; /* Elimina el margen por defecto */
}

nav {
    margin-top: 5px; /* Espacio entre el título y el menú */
}

.menu-navegacion {
    list-style-type: none; /* Elimina los puntos de la lista */
    padding: 0;
}   

.menu-navegacion li {
    display: inline-block; /* Muestra los elementos en línea */
    margin-right: 30px; /* Espacio entre elementos */
}

.menu-navegacion a {
    color: white; /* Color del texto del enlace */
    text-decoration: none; /* Elimina el subrayado */
}

.menu-navegacion a:hover {
    text-decoration: underline; /* Subrayado al pasar el mouse */
}

/* Espacio entre ícono y texto en enlaces */
.menu-navegacion a i {
    margin-right: 5px; 
}

#search {
    padding: 5px; /* Espaciado interno */
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados */
}

#search-button {
    padding: 5px 10px; /* Espaciado interno */
    border: none; /* Sin borde */
    background-color: #fff; /* Fondo blanco */
    color: #4CAF50; /* Color del texto */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Cambia el cursor al pasar el mouse */
}

#search-button:hover {
    background-color: #e0e0e0; /* Cambio de color al pasar el mouse */
}
main {
    padding: 20px;
}

main section {
    margin-bottom: 20px; /* Espacio entre secciones */
}

footer {
    background-color: #0264bf; /* Color del pie de página */
    color: white;
    text-align: center;
    padding: 10px 0;
}